{
  "name": "DocuSign",
  "label": "DocuSign",
  "description": "Provides actions for DocuSign operations.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}